body{
  text-align: center;
}

h1{
  font-size: 50px;
  text-align: center;
}

h3{
  font-size: 30px;
  text-align: center;
}

#numeroEnPantalla{
  font-size: 100px;
  text-align: center;
}

#btnMayor{
  font-size: 30px;
  border-radius: 11px;
  text-align: center;
}

#btnMenor{
  font-size: 30px;
  border-radius: 11px;
  text-align: center;
}

#btnRecargar{
  font-size: 25px;
  border-radius: 10px;
  text-align: center;
}
